@tailwind base;
@tailwind components;
@tailwind utilities;

.music {
    @apply basis-1/2 bg-center bg-cover bg-no-repeat;
}

.gradient {
    @apply bg-gradient-to-b from-slate-300 via-slate-100 to-slate-300;
}

.button {
    @apply gradient px-4 py-1;
}

.align-center {
    align-items: center;
}

.detailsborder {
    @apply border border-solid border-slate-300 rounded;
}

#name {
    background-image: url(./bg.jpg);
}

#muzhik-sprava {
    background-image: url(./gallery-1.png);
}

#muzhik-sleva {
    background-image: url(./gallery-2.jpg);
}

details {
    @apply detailsborder gradient;
}

details>p {
    @apply uppercase px-12 mx-4 outline outline-1 my-4 outline-offset-[1rem];
}

details[open] {
    @apply bg-none bg-white border border-solid border-black;
}

/* details[open]>summary {
    @apply
} */

summary,
summary>span {
    @apply pl-4;
}