.align-center {
  align-items: center;
}

#name {
  background-image: url(./bg.jpg);
}

#muzhik-sprava {
  background-image: url(./gallery-1.png);
}

#muzhik-sleva {
  background-image: url(./gallery-2.jpg);
}